# Fixing Item Categories

In [9]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('/hdfs/salespred/item_categories.csv')

In [3]:
df.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [10]:
categories = df['item_category_name']

In [11]:
len(categories)

84

Shout out to [@anqitu](https://www.kaggle.com/anqitu/feature-engineer-and-model-ensemble-top-10) for this amazing kernel!!!

In [12]:
for ind in range(0,1):
    categories[ind] = 'PC Headsets / Headphones'

for ind in range(1,8):
    categories[ind] = 'Access'

categories[8] = 'Tickets (figure)'
categories[9] = 'Delivery of goods'

for ind in range(10,18):
    categories[ind] = 'Consoles'

for ind in range(18,25):
    categories[ind] = 'Consoles Games'

categories[25] = 'Accessories for games'

for ind in range(26,28):
    categories[ind] = 'phone games'

for ind in range(28,32):
    categories[ind] = 'CD games'

for ind in range(32,37):
    categories[ind] = 'Card'

for ind in range(37,43):
    categories[ind] = 'Movie'

for ind in range(43,55):
    categories[ind] = 'Books'

for ind in range(55,61):
    categories[ind] = 'Music'

for ind in range(61,73):
    categories[ind] = 'Gifts'

for ind in range(73,79):
    categories[ind] = 'Soft'

for ind in range(79,81):
    categories[ind] = 'Office'

for ind in range(81,83):
    categories[ind] = 'Clean'

categories[83] = 'Elements of a food'

In [13]:
categories.head()

0    PC Headsets / Headphones
1                      Access
2                      Access
3                      Access
4                      Access
Name: item_category_name, dtype: object

In [14]:
df['item_category_name'] = categories

In [15]:
df.head()

         item_category_name  item_category_id
0  PC Headsets / Headphones                 0
1                    Access                 1
2                    Access                 2
3                    Access                 3
4                    Access                 4

In [17]:
df.to_csv('/hdfs/salespred/item_categories_fixed.csv', header=True, index=False)